*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tacos {
    display: flex;
    flex-wrap: wrap;
}


.tacos>*{
    flex: 1 1 200px;
    margin: 1rem;
}

.taco {
    background-color: crimson;
    color: rgb(255, 255, 255);
    font-size: 125%;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.taco:hover {
    opacity: 0.9;
    transform: scale(0.9);
}

.taco img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}

.taco figcaption {
    padding: 1rem;
}